<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.crewup.crew.mapper.CrewMapper">
    <resultMap id="CrewListMap" type="com.ssafy.crewup.crew.dto.response.CrewListResponse">
        <constructor>
            <arg column="crew_id" javaType="Long"/>
            <arg column="name" javaType="String"/>
            <arg column="region" javaType="String"/>
            <arg column="member_count" javaType="Integer"/>
            <arg column="activity_time" javaType="String"/>
            <arg column="average_pace" javaType="Double"/>
            <arg column="age_group" javaType="String"/>
            <arg column="gender_limit" javaType="String"/>
            <arg column="crew_image" javaType="String"/>
            <arg column="keywords" javaType="java.util.List"
                 typeHandler="com.ssafy.crewup.global.config.StringListTypeHandler"/>
            <arg column="match_score" javaType="Integer"/>
        </constructor>
    </resultMap>
    <sql id="crewColumns">
        crew_id, name, region, member_count, activity_time,
        average_pace, age_group, gender_limit, crew_image, keywords, 0 as match_score
    </sql>
    <select id="searchCrews" resultMap="CrewListMap">
        SELECT <include refid="crewColumns"/>
        FROM crew
        <where>
            <if test="search != null and search != ''">
                AND (name LIKE CONCAT('%', #{search}, '%') OR region LIKE CONCAT('%', #{search}, '%'))
            </if>
            <if test="region != null and region != ''">
                AND region LIKE CONCAT('%', #{region}, '%')
            </if>
            <if test="activityTimes != null and !activityTimes.isEmpty()">
                AND activity_time IN
                <foreach item="item" index="index" collection="activityTimes" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="genderLimits != null and !genderLimits.isEmpty()">
                AND gender_limit IN
                <foreach item="item" index="index" collection="genderLimits" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="ageGroups != null and !ageGroups.isEmpty()">
                AND age_group IN
                <foreach item="item" index="index" collection="ageGroups" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="minPace != null">
                AND average_pace &gt;= #{minPace}
            </if>
            <if test="maxPace != null">
                AND average_pace &lt;= #{maxPace}
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="sort == 'MEMBER_COUNT'">member_count</when>
            <when test="sort == 'AVERAGE_PACE'">average_pace</when>
            <otherwise>created_at</otherwise>
        </choose>
        <choose>
            <when test="order == 'ASC'">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
    </select>

    <select id="findCrewsByUserId" resultMap="CrewListMap">
        SELECT c.*, 0 as match_score
        FROM crew c
                 JOIN crew_member cm ON c.crew_id = cm.crew_id
        WHERE cm.user_id = #{userId} AND cm.status = 'ACCEPTED'
        ORDER BY c.created_at DESC
    </select>

</mapper>