<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.crewup.course.mapper.CourseMapper">
    <select id="selectCourseById" resultType="com.ssafy.crewup.course.Course">
        SELECT
            course_id, writer_id, title, description, thumbnail,
            distance, expected_time, difficulty, scrap_count, view_count,
            created_at, updated_at
        FROM course
        WHERE course_id = #{courseId}
    </select>

    <insert id="insertCourse" parameterType="com.ssafy.crewup.course.Course"
            useGeneratedKeys="true" keyProperty="id" keyColumn="course_id">
        INSERT INTO course (
            writer_id, title, description,
            path, main_point,
            distance, expected_time, difficulty,
            scrap_count, thumbnail, ai_summary, ai_keywords, created_at, updated_at
        ) VALUES (
                     #{writerId}, #{title}, #{description},
                     ST_GeomFromText(#{pathWkt}, 4326), ST_GeomFromText(#{mainPointWkt}, 4326),
                     #{distance}, #{expectedTime}, #{difficulty},
                     0, #{thumbnail}, #{aiSummary}, #{aiKeywords}, NOW(), NOW()
                 )
    </insert>

    <resultMap id="CourseDetailMap" type="com.ssafy.crewup.course.dto.response.CourseGetResponse">
        <id property="courseId" column="course_id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="pathWkt" column="path_wkt_string"/>
        <result property="distance" column="distance"/>
        <result property="expectedTime" column="expected_time"/>
        <result property="difficulty" column="difficulty"/>
        <result property="scrapCount" column="scrap_count"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="aiSummary" column="ai_summary"/>
        <result property="createdAt" column="created_at"/>
        <result property="aiKeywords" column="ai_keywords"/>
        <result property="avgDifficultyScore" column="avg_difficulty_score"/>
        <result property="avgPaceSeconds" column="avg_pace_seconds"/>
        <result property="myPaceSeconds" column="my_pace_seconds"/>
        <result property="isScrapped" column="isScrapped"/>

        <association property="writer" javaType="com.ssafy.crewup.course.dto.common.WriterDto">
            <id property="userId" column="user_id"/>
            <result property="nickname" column="nickname"/>
            <result property="profileImage" column="profile_image"/>
        </association>
    </resultMap>

    <select id="selectCourseDetail" resultMap="CourseDetailMap">
        SELECT
            c.course_id, c.title, c.description, c.distance, c.expected_time,
            c.difficulty, c.scrap_count, c.thumbnail, c.created_at,
            c.view_count,
            c.ai_summary,   c.ai_keywords,  ST_AsText(c.path) AS path_wkt_string,

            (SELECT COUNT(*) FROM course_scrap s
             WHERE s.course_id = c.course_id AND s.user_id = #{userId}) > 0 AS isScrapped,

            (SELECT AVG(difficulty_score)
             FROM course_review cr
             WHERE cr.course_id = c.course_id
            ) AS avg_difficulty_score,

            (SELECT AVG(
                            CAST(SUBSTRING_INDEX(u.average_pace, "'", 1) AS UNSIGNED) * 60 +
                            CAST(SUBSTRING_INDEX(SUBSTRING_INDEX(u.average_pace, '&quot;', 1), "'", -1) AS UNSIGNED)
                    )
             FROM users u
             WHERE u.user_id IN (
                 SELECT DISTINCT r.writer_id
                 FROM course_review r
                 WHERE r.course_id = c.course_id
             )
               AND u.average_pace LIKE "%'%"
            ) AS avg_pace_seconds,

            (SELECT
                 CAST(SUBSTRING_INDEX(u.average_pace, "'", 1) AS UNSIGNED) * 60 +
                 CAST(SUBSTRING_INDEX(SUBSTRING_INDEX(u.average_pace, '&quot;', 1), "'", -1) AS UNSIGNED)
             FROM users u
             WHERE u.user_id = #{userId}  -- 로그인한 유저 ID
               AND u.average_pace LIKE "%'%" -- 포맷 안전장치
            ) AS my_pace_seconds,

            u.user_id, u.nickname, u.profile_image
        FROM course c
                 JOIN users u ON c.writer_id = u.user_id
        WHERE c.course_id = #{courseId}
    </select>

    <select id="selectCourseList" parameterType="com.ssafy.crewup.course.dto.request.CourseSearchCondition"
            resultType="com.ssafy.crewup.course.dto.response.CourseListResponse">
        SELECT
        c.course_id,
        c.title,
        c.thumbnail,
        c.difficulty,
        c.view_count,
        c.distance,
        c.expected_time,
        c.scrap_count,
        ST_AsText(c.main_point) as main_point_wkt,
        u.nickname as writer_nickname,

        <choose>
            <when test="userId != null">
                EXISTS (SELECT 1 FROM course_scrap s WHERE s.course_id = c.course_id AND s.user_id = #{userId}) AS isScrapped,
            </when>
            <otherwise>
                false AS isScrapped,
            </otherwise>
        </choose>

        <choose>
            <when test="lat != null and lng != null">
                ST_Distance_Sphere(c.main_point, ST_SRID(POINT(#{lng}, #{lat}), 4326))
            </when>
            <otherwise>
                0
            </otherwise>
        </choose> AS current_distance

        FROM course c
        JOIN users u ON c.writer_id = u.user_id
        WHERE 1=1

        <if test="lat != null and lng != null and radius != null">
            AND ST_Distance_Sphere(c.main_point, ST_SRID(POINT(#{lng}, #{lat}), 4326)) &lt;= #{radius}
        </if>

        LIMIT #{size} OFFSET #{offset}
    </select>

    <update id="increaseViewCount">
        UPDATE course
        SET view_count = view_count + 1
        WHERE course_id = #{courseId}
    </update>

    <select id="selectMyCourses" resultType="com.ssafy.crewup.course.dto.response.CourseListResponse">
        SELECT
            c.course_id, c.title, c.thumbnail, c.difficulty,
            c.distance, c.expected_time, c.scrap_count,
            u.nickname AS writerNickname,
            0.0 AS currentDistance
        FROM course c
                 JOIN users u ON c.writer_id = u.user_id
        WHERE c.writer_id = #{userId}
        ORDER BY c.created_at DESC
            LIMIT #{size} OFFSET #{offset}
    </select>

    <update id="updateCourse">
        UPDATE course
        <set>
            <if test="req.title != null">title = #{req.title},</if>
            <if test="req.description != null">description = #{req.description},</if>
            <if test="req.distance != null">distance = #{req.distance},</if>
            <if test="req.expectedTime != null">expected_time = #{req.expectedTime},</if>
            <if test="req.difficulty != null">difficulty = #{req.difficulty},</if>

            <if test="imageUrl != null">thumbnail = #{imageUrl},</if>

            <if test="pathWkt != null">
                path = ST_GeomFromText(#{pathWkt}, 4326),
            </if>
            <if test="mainPointWkt != null">
                main_point = ST_GeomFromText(#{mainPointWkt}, 4326),
            </if>

            updated_at = NOW()
        </set>
        WHERE course_id = #{courseId}
    </update>

    <delete id="deleteCourse">
        DELETE FROM course WHERE course_id = #{courseId}
    </delete>

    <update id="updateAiAnalysis">
        UPDATE course
        SET
            ai_summary = #{summary},
            ai_keywords = #{keywords}
        WHERE course_id = #{courseId}
    </update>

</mapper>
